@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --navcolor: #111827;
}

header {

  height: 60px;
  color: white;
}

nav a {
  margin: 0.2rem;
  color: white;
}

nav a:hover {
  color: red;
}

header .nav-btn {
    border-radius: 0.5rem;
  padding: 0.3rem;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, rgb(244, 67, 54), rgb(33, 150, 243));
  border: none;
  outline: none;
  color: white;
  visibility: hidden;
  opacity: 0;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--navcolor);
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }
}

nav .nav-close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

nav a {
  font-size: 1.5rem;
}
